{{set . "title" "Home"}}
{{template "header.html" .}}

<!--
<header class="hero-unit2" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>It works!</h1>
      </div>
    </div>
  </div>
</header>
-->

<div class="container">
    <div id="header">
      <h1>XFlow</h1>
      {{if .user}}
        <div id="options">
          Connected as {{.user.Username}}
          <a href="{{url "App.Logout"}}">Logout</a>
        </div>
      {{end}}

    </div>
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

Login <button id="btnLogin">Login</button><br/>

<div id="winLogin">
  <form action="{{url "App.Login"}}" id="formLogin" method="POST">
    <p class="field">
      <label>Login Name:</label>
      <input type="text" name="username" id="username" size="19" value="{{.flash.username}}" />
    </p>
    <p class="field">
      <label>Password:</label>
      <input type="password" name="password" id="password" size="19"/>
    </p>
  </form>
  <script type="text/javascript" charset="utf-8">
/*
  // Search function
  var login= function() {
      $("#formLogin").ajaxSubmit(
      function(data) {
          alert(data)
      })
  }

  var login2= function() {
      $.post("{{url "App.Login"}}", {username:$("#username").val(),password:$("#password").val()})
      .done(function(data) {
          alert(data)
      })
  }

  // Events handler
  $('#btnLogin').click(function() {
      login()
  })
*/
    $(function() {
        $( "#winLogin" ).dialog({
			autoOpen: false,
            title:'Login (demo/demo)',
			height: 300,
			width: 350,
			modal: true,
            buttons:{
                "Login":function(){
                  var me = $(this);
                  $("#formLogin").ajaxSubmit(
                  function(data) {
                    if(data.Success){
                        alert(data.Result.Username + "/" + data.Result.CompanyId);
                    }else{
                        alert("Login Error");
                    }
                    me.dialog("close");
                  })
                },
                "Cancel":function(){
                    $( this ).dialog( "close" );
                }
            }
        });
        $( "#btnLogin" )
			.button()
			.click(function() {
				$( "#winLogin" ).dialog( "open" );
			});
    });
</script>
</div>

CheckLogin <button id="btnCheckLogin">CheckLogin</button> <span id="loginInfo"></span> <br/>

  <script type="text/javascript" charset="utf-8">
    $(function() {
        $( "#btnCheckLogin" )
			.button()
			.click(function() {
                $.get("{{url "App.Current"}}")
                .done(function(data){
                    if(data.Success){
                        $("#loginInfo").html(data.Result.UserName);
                    }else{
                        $("#loginInfo").html("Not Logged!");
                    }
                });
			});
    });
</script>

Logout <button id="btnLogout">Logout</button> <br/>

  <script type="text/javascript" charset="utf-8">
    $(function() {
        $( "#btnLogout" )
			.button()
			.click(function() {
                $.get("{{url "App.Logout"}}")
                .done(function(data){
                    if(data.Success){
                        $("#loginInfo").html("Not Logged!");
                    }
                });
			});
    });
</script>

Register <button id="btnRegister">Register</button><br/>
<div id="winRegister">
<form action="{{url "User.Add"}}" method="POST" id="formRegister">
  {{with $field := field "user.Username" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Username:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "user.Name" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Real name:</strong> <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "user.Password" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Password:</strong> <input type="password" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "verifyPassword" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Verify password:</strong> <input type="password" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "company.Name" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Company Name:</strong> <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "company.Domain" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Company Domain:</strong> www.<input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
</form>
  <script type="text/javascript" charset="utf-8">
    $(function() {
        $( "#winRegister" ).dialog({
			autoOpen: false,
            title:'Register',
			height: 500,
			width: 500,
			modal: true,
            buttons:{
                "Register":function(){
                  var me = $(this);
                  $("#formRegister").ajaxSubmit(
                  function(data) {
                    if(data.Success){
                        alert(data.Result.Username + "/" + data.Result.CompanyId);
                    }else{
                        alert("Register Error");
                    }
                    me.dialog("close");
                  })
                },
                "Cancel":function(){
                    $( this ).dialog( "close" );
                }
            }
        });
        $( "#btnRegister" )
			.button()
			.click(function() {
				$( "#winRegister" ).dialog( "open" );
			});
    });
</script>
</div>
<hr/>

List Dept <button id="btnListDept">List Dept</button>
  <select id="deptId" name="deptId">
  </select><br/>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $( "#btnListDept" )
			.button()
			.click(function() {

              $.get("{{url "Dept.List"}}", function(data) {
                  if(data.Success){
                      var lists = $("select[name=deptId]");
                      for(var j=0; j<lists.length; j++){
                          var list = lists[j];
                          list.options.length=0;
                          for(var i=0; i<data.Result.length; i++){
                            list.options[i] = new Option(data.Result[i].Name,data.Result[i].Id);
                          }
                      }
                  }
              })
			});
    });
</script>

Add Dept<button id="btnAddDept">Add Dept</button><br/>
<div id="winAddDept" >
<form action="{{url "Dept.Add"}}" method="POST" id="formAddDept">
      <strong>Name:</strong> <input type="text" name="dept.Name" size="16" > *
</form>
</div>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $( "#winAddDept" ).dialog({
			autoOpen: false,
            title:'Add Dept',
			height: 200,
			width: 500,
			modal: true,
            buttons:{
                "Add Dept":function(){
                  var me = $(this);
                  $("#formAddDept").ajaxSubmit(
                  function(data) {
                    if(data.Success){
                        $("#btnListDept").click();
                    }else{
                        alert("Register Error");
                    }
                    me.dialog("close");
                  })
                },
                "Cancel":function(){
                    $( this ).dialog( "close" );
                }
            }
        });
        $( "#btnAddDept" )
			.button()
			.click(function() {
				$( "#winAddDept" ).dialog( "open" );
			});
    });
</script>
<hr/>
List Employee
  <select id="deptIdForList" name="deptId">
  </select>
  <button id="btnListEmployee">List Employees</button>
  <select id="employeeId" name="employeeId">
  </select>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $( "#btnListEmployee" )
			.button()
			.click(function() {

                $.get("{{url "Employee.List"}}?deptId="+$("#deptIdForList").val(), function(data) {
                  if(data.Success){
                      var lists = $("select[name=employeeId]");
                      for(var j=0; j<lists.length; j++){
                          var list = lists[j];
                          list.options.length=0;
                          for(var i=0; i<data.Result.length; i++){
                            list.options[i] = new Option(data.Result[i].Name,data.Result[i].Id);
                          }
                      }
                  }
              })
			});
    });
</script>
<br/>

Add Employee<button id="btnAddEmployee">Add Employee</button><br/>
<div id="winAddEmployee">
<form action="{{url "Employee.Add"}}" id="formAddEmployee" method="POST">
  Dept:
  <select id="deptId" name="deptId">
  </select>
  {{with $field := field "employee.Name" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Name:</strong> <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "employee.Email" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Email:</strong> <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
</form>

<script type="text/javascript" charset="utf-8">
    $(function() {
        $( "#winAddEmployee" ).dialog({
			autoOpen: false,
            title:'Add Employee',
			height: 300,
			width: 500,
			modal: true,
            buttons:{
                "Add Employee":function(){
                  var me = $(this);
                  $("#formAddEmployee").ajaxSubmit(
                  function(data) {
                    if(data.Success){
                        alert("Add OK");
                    }else{
                        alert("Add Error");
                    }
                    me.dialog("close");
                  })
                },
                "Cancel":function(){
                    $( this ).dialog( "close" );
                }
            }
        });
        $( "#btnAddEmployee" )
			.button()
			.click(function() {
				$( "#winAddEmployee" ).dialog( "open" );
			});
    });
</script>

</div>
{{template "footer.html" .}}
